* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

h1 {
    font-family: 'Dancing Script', cursive;
}

.carousel-item img {
    width: 100%;
    height: 80vh;
}

.card-body img {
    min-width: 50%;
    max-height: 200px;
}

.services.card {
    height: 250px;
}

footer img {
    width: 50px;
    margin: 5px;
    cursor: pointer;
}

footer {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

footer img:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}

iframe {
    width: 100%;
}